@use '../../colors' as colors;

.page.privacy-policy {
	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: 1rem;
	padding: 1rem;
	background-color: colors.$bunker;

	.header {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: 1fr auto;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: rgba(colors.$alabaster, 0.1);
		background-image: url('/mojave.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		.back-btn {
			width: fit-content;
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.5rem;
			padding: 0.5rem;
			border-radius: 0.5rem;
			text-decoration: none;
			color: colors.$alabaster;
			background-color: rgba(colors.$alabaster, 0.1);

			&:hover {
				background-color: rgba(colors.$alabaster, 0.25);
			}

			&:active {
				background-color: rgba(colors.$alabaster, 0.375);
			}
		}

		h1 {
			font-size: 2rem;
			color: colors.$alabaster;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		row-gap: 0.5rem;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: rgba(colors.$alabaster, 0.1);

		h1 {
			font-size: 1.5rem;
			color: colors.$alabaster;
		}

		small {
			margin-bottom: 1rem;
			font-size: 0.75rem;
			color: colors.$silver;

			b {
				color: colors.$alabaster;
			}
		}

		p {
			margin-bottom: 0.5rem;

			&.bold {
				font-weight: bold;
			}
		}

		section {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			row-gap: 0.25rem;
			margin-left: 1rem;

			&:last-of-type {
				margin-bottom: 1.5rem;
			}

			h2 {
				text-transform: uppercase;
				font-size: 1.25rem;
				color: colors.$alabaster;
			}

			ul {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				row-gap: 0.125rem;
				margin-left: 1rem;

				li {
					list-style: none;
				}
			}

			a {
				text-decoration: none;
				color: colors.$perfume;
				transition: color 0.25s;

				&:hover {
					color: colors.$biloba-flower;
				}
			}
		}
	}
}
