@use '../colors' as colors;

.page.home {
	text-align: center;
	color: colors.$alabaster;

	a {
		text-decoration: none;
		color: colors.$azure-radiance;
		transition: text-decoration 0.3s;

		&:hover {
			text-decoration: underline;
		}
	}
}
