@use '../colors' as colors;

.page.landing {
	display: grid;
	grid-template-rows: 100vh auto;
	overflow-x: hidden;

	.header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			background-color: colors.$bunker;
			background-image: url('mojave.jpeg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.header-content {
			position: absolute;
			text-align: center;
			padding: 5rem;
			border-radius: 0.5rem;
			border: 1px solid colors.$alabaster;
			background-color: rgba(colors.$alabaster, 0.1);

			h1 {
				margin-bottom: -1.5rem;
				font-size: 10rem;
			}

			h2 {
				margin-bottom: 2rem;
				font-size: 1.75rem;
			}

			p {
				width: 100%;
				max-width: 30rem;
				color: colors.$silver-chalice;
			}

			.cta {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 1.25rem;
				margin-top: 2rem;
				padding: 1.25rem;
				border-radius: 0.5rem;
				background-color: colors.$steel-gray;

				i {
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 50%;
					background-color: colors.$silver-sand;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 0.5rem;
					color: colors.$alabaster;
					text-decoration: none;
					transition: color 250ms;

					&:hover {
						color: colors.$silver;
					}
				}
			}
		}

		.btns {
			position: absolute;
			left: 1rem;
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.5rem;
				border-radius: 0 0.5rem 0.5rem 0;
				color: colors.$alabaster;
				background-color: colors.$bunker;
				transition: color 250ms, background-color 250ms;

				&:hover {
					color: colors.$bon-jour;
					background-color: colors.$ebony-clay;
				}

				&:active {
					color: colors.$gray-suit;
					background-color: colors.$pickled-bluewood;
				}
			}
		}

		.scroll-down {
			cursor: pointer;
			position: absolute;
			bottom: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 0.55rem;
			font-size: 1.25rem;
			border-radius: 0.5rem 0.5rem 0 0;
			color: colors.$alabaster;
			background-color: colors.$bunker;
			transition: color 250ms, background-color 250ms;

			svg {
				animation: scroll-down 2s infinite linear;

				@keyframes scroll-down {
					0% {
						transform: translateY(0);
					}

					40% {
						transform: translateY(0.25rem);
					}

					60% {
						transform: translateY(0.25rem);
					}

					100% {
						transform: translateY(0);
					}
				}
			}

			&:hover {
				color: colors.$bunker;
				background-color: colors.$alabaster;
			}
		}
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
		padding: 2rem 1rem;

		.information-card {
			position: relative;
			width: 100%;
			max-width: 18.0625rem;
			height: 30.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			row-gap: 0.5rem;
			text-align: center;

			small {
				color: colors.$silver-chalice;
			}

			img {
				width: 100%;
				border-radius: 0.5rem;
				aspect-ratio: 1/1;
				object-fit: cover;
			}

			h1 {
				font-size: 1.625rem;
			}

			p {
				font-size: 0.875rem;
				color: colors.$silver-chalice;
			}

			.btns {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr auto auto;
				column-gap: 0.5rem;
				padding: 0.5rem;

				button {
					cursor: pointer;
					padding: 0.5rem;
					border-radius: 0.5rem;
					color: colors.$alabaster;
					background-color: colors.$steel-gray;
					transition: color 250ms, background-color 250ms;

					&:hover {
						color: colors.$alabaster;
						background-color: colors.$mid-gray;
					}

					&:active {
						color: colors.$bunker;
						background-color: colors.$silver;
					}
				}
			}
		}
	}
}
