@use '../colors' as colors;

.page.upload {
	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: 1rem;
	padding: 1rem;
	background-color: colors.$bunker;

	.header {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: 1fr auto;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: rgba(colors.$alabaster, 0.1);
		background-image: url('mojave.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		.back-btn {
			width: fit-content;
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.5rem;
			padding: 0.5rem;
			border-radius: 0.5rem;
			text-decoration: none;
			color: colors.$alabaster;
			background-color: rgba(colors.$alabaster, 0.1);

			&:hover {
				background-color: rgba(colors.$alabaster, 0.25);
			}

			&:active {
				background-color: rgba(colors.$alabaster, 0.375);
			}
		}

		h1 {
			font-size: 2rem;
			color: colors.$alabaster;
		}
	}

	main {
		display: flex;

		form {
			flex: 1;
			display: grid;
			grid-template-rows: 1fr repeat(4, auto);
			row-gap: 0.5rem;

			.drop-area {
				min-height: 15rem;
				display: flex;
				border-radius: 0.5rem;
				border: 2px dashed colors.$silver;
				background-color: rgba(colors.$alabaster, 0.05);
				transition: border-color 250ms, background-color 250ms;

				&.active {
					border-color: colors.$mid-gray;
					background-color: rgba(colors.$alabaster, 0.1);
				}

				.file-upload {
					flex: 1;
					cursor: pointer;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
					color: colors.$alabaster;

					input {
						display: none;
					}

					div {
						font-size: 1.125rem;
						text-align: center;
					}

					svg {
						font-size: 2rem;
					}
				}
			}

			.album-info {
				font-size: 0.875rem;
				color: colors.$silver;
			}

			.file-preview {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;

				.file-card {
					cursor: pointer;
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					width: 8rem;
					height: 10rem;
					padding: 0.5rem;
					border-radius: 0.5rem;
					background-color: rgba(colors.$alabaster, 0.05);
					box-shadow: 0 0 0.25rem rgba(colors.$bunker, 0.1);
					transition: box-shadow 250ms, transform 250ms;

					&:hover {
						box-shadow: 0 0 0.5rem rgba(colors.$alabaster, 0.25);
						transform: scale(1.05);
					}

					.file-size {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 0.75rem;
						padding: 0.25rem;
						border-radius: 0.25rem;
						color: colors.$alabaster;
						background-color: rgba(colors.$bunker, 0.5);
					}

					.file-type {
						position: absolute;
						top: 0;
						left: 0;
						font-size: 0.75rem;
						padding: 0.25rem;
						border-radius: 0.25rem;
						color: colors.$alabaster;
						background-color: rgba(colors.$bunker, 0.5);
					}

					img,
					video {
						width: 100%;
						height: 7rem;
						object-fit: cover;
						border-radius: 0.25rem;
						background-color: colors.$steel-gray;
					}

					.file-icon {
						width: 100%;
						height: 7rem;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 2rem;
						color: colors.$silver;
						border-radius: 0.25rem;
						background-color: colors.$steel-gray;
					}

					.file-info {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;

						small {
							color: colors.$alabaster;
							font-size: 0.75rem;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							max-width: calc(100% - 2rem);
						}

						button {
							cursor: pointer;
							padding: 0.25rem;
							border-radius: 0.25rem;
							color: colors.$alabaster;
							background-color: rgba(colors.$alabaster, 0.1);
							transition: background-color 250ms, transform 100ms;

							&:hover {
								background-color: rgba(colors.$alabaster, 0.25);
							}

							&:active {
								transform: scale(0.9);
							}
						}
					}
				}
			}

			.privacy-settings {
				display: flex;
				flex-direction: column;
				row-gap: 1rem;
				padding: 1rem;
				border-radius: 0.5rem;
				background-color: rgba(colors.$alabaster, 0.05);
				background-image: url('sand-dunes.jpeg');
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				h2 {
					font-size: 1.25rem;
					color: colors.$alabaster;
				}

				div {
					display: flex;
					column-gap: 2rem;

					label {
						display: flex;
						align-items: center;
						color: colors.$alabaster;

						input {
							margin-right: 0.5rem;
						}
					}
				}

				.password-settings {
					display: flex;

					label {
						flex: 1;
						display: grid;
						grid-template-columns: auto 1fr;
						column-gap: 1rem;
						color: colors.$alabaster;

						.password-input {
							display: grid;
							grid-template-columns: 1fr auto auto;
							column-gap: 0.5rem;

							input {
								padding: 0.5rem;
								border-radius: 0.25rem;
								border: 1px solid colors.$silver;
								color: colors.$alabaster;
								background-color: rgba(colors.$alabaster, 0.1);

								&:focus {
									border-color: colors.$mid-gray;
								}
							}

							button {
								cursor: pointer;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 0.5rem;
								border-radius: 0.25rem;
								color: colors.$alabaster;
								background-color: colors.$bunker;
								transition: background-color 250ms;

								&:hover {
									background-color: colors.$mid-gray;
								}

								&:active {
									background-color: colors.$steel-gray;
								}
							}
						}
					}
				}
			}

			.upload-btn {
				cursor: pointer;
				display: flex;
				justify-content: center;
				column-gap: 0.5rem;
				padding: 1rem;
				font-size: 1rem;
				letter-spacing: 0.1rem;
				border-radius: 0.25rem;
				color: colors.$alabaster;
				background-color: colors.$steel-gray;
				transition: color 250ms, background-color 250ms;

				&:hover {
					background-color: colors.$mid-gray;
				}

				&:active {
					color: colors.$bunker;
					background-color: colors.$silver;
				}
			}
		}
	}

	.zoom-preview {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(colors.$bunker, 0.85);
		z-index: 10;

		img,
		video {
			max-width: 90%;
			max-height: 90%;
			border-radius: 0.5rem;
			box-shadow: 0 0 1rem rgba(colors.$alabaster, 0.5);
		}
	}
}
