@use './colors' as colors;

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	user-select: none;
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	color: colors.$alabaster;
	background-color: colors.$bunker;

	.page {
		width: 100vw;
		height: 100vh;
	}
}
